<div class="demo" ng-controller="galaxyCtrl">
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <h1 class="main-title"><span class="thin">Ernesto</span> Perez</h1>
            <div class="title-text">
                <ul>
                    <a href="https://github.com/ernesto-pm" target="_blank">
                        <li><i class="fa fa-github-alt fa-lg"></i></li>
                        <md-tooltip md-direction="top">
                            My Github profile
                        </md-tooltip>
                    </a>
                    <a href="http://stackoverflow.com/users/6054466/ernesto-pm" target="_blank">
                        <li><i class="fa fa-stack-overflow fa-lg"></i></li>
                        <md-tooltip md-direction="top">
                            My Stack Overflow profile
                        </md-tooltip>
                    </a>
                    <a href="https://mx.linkedin.com/in/ernesto-pm" target="_blank">
                        <li><i class="fa fa-linkedin fa-lg"></i></li>
                        <md-tooltip md-direction="top">
                            My LinkedIn Profile
                        </md-tooltip>
                    </a>
                    <a href="skype:ernesto.perez.martinez?add">
                        <li><i class="fa fa-skype fa-lg"></i></li>
                        <md-tooltip md-direction="top">
                            Add me on skype
                        </md-tooltip>
                    </a>
                    <a href="mailto:ernestopm20@gmail.com">
                        <li><i class="fa fa-at fa-lg"></i></li>
                        <md-tooltip md-direction="top">
                            Send me an email
                        </md-tooltip>
                    </a>
                    <a href="" target="_blank">
                        <li><i class="fa fa-file fa-lg"></i></li>
                        <md-tooltip md-direction="top">
                            Download my Resume
                        </md-tooltip>
                    </a>
                </ul>
            </div>
            <div id="arrow">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid " id="content">

    <div class="row">
        <div class="col-md-12 text-center">
            <h1 style="font-weight: 200; color:white; margin-bottom: 30px">Software Engineer</h1>
        </div>
    </div>
    <div class="row">
        <br>
        <div class="container">
            <div class="col-md-4">
                <div class='login-container'>
                    <div class='login-box transparent'>
                        <div class='login-cover transparent'>
                            <span >About Me</span>
                            <div class='login-pp-container'>
                                <img class='login-pp ls-image' src='img/meThumb.jpg'>
                            </div>
                        </div>
                        <div class='login-form'>
                            <div class="line">
                                Hello! my name is Ernesto.
                                I'm a Software Developer from Mexico City.
                                <br>
                                <br>
                                I have three years of experience as a Web Developer
                                and four years of experience as a Game Developer
                            </div>
                            <!--
                            <div class='line'>
                                <label>Name</label>
                                <input class='signin-username ls-username' type='text'>
                            </div>
                            <div class='line'>
                                <img class='pp-select button' data-imageid='1' src='http://semantic-ui.com/images/avatar2/large/matthew.png'>
                                <img class='pp-select button' data-imageid='2' src='http://semantic-ui.com/images/avatar2/large/elyse.png'>
                                <img class='pp-select button' data-imageid='3' src='http://semantic-ui.com/images/avatar2/large/kristy.png'>
                                <img class='pp-select button' data-imageid='4' src='http://semantic-ui.com/images/avatar2/large/rachel.png'>
                                <img class='pp-select button' data-imageid='5' src='http://semantic-ui.com/images/avatar2/large/mark.png'>
                                <img class='pp-select button' data-imageid='6' src='http://semantic-ui.com/images/avatar2/large/lena.png'>
                                <img class='pp-select button' data-imageid='7' src='http://semantic-ui.com/images/avatar2/large/eve.png'>
                            </div>
                            <div class='line centered'>
                                <button class='waves-effect waves-classic waves-light waves-button waves-float signin-confirm'>
                                    Sign in
                                    <i class='zmdi zmdi-sign-in'></i>
                                </button>
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div ng-cloak>
                    <md-content md-theme="skillsTheme" class="transparent">
                        <md-toolbar class="transparent">
                            <h1 class="md-toolbar-tools" style="color:white">Tech Skills</h1>
                        </md-toolbar>
                        <md-tabs md-dynamic-height md-border-bottom>
                            <md-tab label="Web Development">
                                <md-content class="md-padding transparent">

                                    <!-- START JAVASCRIPT -->
                                    <div class="row">
                                        <h1 class="md-display-1 whiteText titlePadding">Javascript</h1>
                                        <br>
                                        <div class="col-sm-4 text-center">
                                            <span class="whiteText">Angular.js</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.angularCounter}}"></md-progress-linear>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="whiteText">Node.js</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.nodeCounter}}"></md-progress-linear>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="whiteText">React.js</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.reactCounter}}"></md-progress-linear>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <span class="whiteText">Angular 2</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.angularCounter}}"></md-progress-linear>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="whiteText">Node.js</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.angularCounter}}"></md-progress-linear>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="whiteText">React.js</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.angularCounter}}"></md-progress-linear>
                                        </div>
                                    </div>
                                    <br>
                                    <!-- END JAVASCRIPT-->

                                    <!-- START WEB FRAMEWORKS -->
                                    <div class="row">
                                        <h1 class="md-display-1 whiteText titlePadding">Web Frameworks</h1>
                                        <br>
                                        <div class="col-sm-4 text-center">
                                            <span class="whiteText">Laravel</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.angularCounter}}"></md-progress-linear>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <span class="whiteText">CakePHP</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.angularCounter}}"></md-progress-linear>
                                        </div>
                                        <div class="col-sm-4">
                                            <span class="whiteText">Grails</span>
                                            <br>
                                            <br>
                                            <md-progress-linear md-mode="determinate" value="{{vm.angularCounter}}"></md-progress-linear>
                                        </div>
                                    </div>
                                    <!-- END WEB FRAMEWORKS -->


                                </md-content>
                            </md-tab>
                            <md-tab label="Game development">
                                <md-content class="md-padding transparent">
                                    <h1 class="md-display-2 whiteText">Game Dev</h1>
                                    <p class="whiteText">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue.
                                        Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus.
                                        In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.
                                    </p>
                                </md-content>
                            </md-tab>
                        </md-tabs>
                    </md-content>
                </div>



            </div>
        </div>
        <br>
        <br>

    </div>

</div>